body {
	font-family: 'Poppins', sans-serif;
}

#all-images-container {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	max-width: 1250px;
}

.single-image-container {
	height: 250px;
	flex-grow: 1;
	padding: 5px;
}

img {
	width: 100%;
	height: 100%;
 	object-fit: cover;
 	vertical-align: bottom;
}

#error-message {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#loader {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

#loading-text {
	width: 100%;
	text-align: center;
}

#loader::before {
	border: solid 5px #eee;
	border-bottom-color: #F70084;
	border-top-color: #0060D9;
	border-radius: 50%;
	content: "";
	height: 40px;
	width: 40px;
	animation: 2s linear infinite loader;
}

@keyframes loader {
	from {
		transform:rotate(0deg);
	}
	to {
		transform:rotate(360deg);
	}
}

@media (max-width: 1245px) {
  .single-image-container {
    height: 350px;
  }
}

